body{
    background-color: #F8F8F8;
}
.main-nav>ul>li {
    margin-right: 59px;
}

.main-header-area .header-logo img {
    width: 65%
}

.intro11-slider .slider-content .sub-title {
    font-size: 33px;
    letter-spacing: 14px;
    margin-top: 24px;
}

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
    max-width: 1440px;
    width: 100% !important;
    display: flex;
}

.main-header {
    background-color: #000;
}

.intro11-slider .slider-content .title {
    letter-spacing: 6px;
}

.intro11-slider .slider-content {
    top: 40%
}

.n_more {
    border-radius: 20px;
    padding: 10px 20px;
}


.lang {
    width: 70px;
    display: flex;
    justify-content: end;
    align-items: center;

}

.lang_e {
    width: 20px;
    height: 20px;
    font-size: 12px;
}

.search {
    width: 20px;
    height: 22px;
    margin-left: 25px;
}
